tr{
  display: flex;
  justify-content: space-around;
}
.task-container {
  background-color: azure;
  width: 40%;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.productTable-container {
  background-color: cadetblue;
}


.productTable-container table {
  width: 100%;
}

.fruitCategory-container {
  display: flex;
  justify-content: center;
  background-color: aquamarine;
}

.productRow-container {
  background-color: darksalmon;
}